* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(30deg, #e4aff9, #6699ff);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root::before{
  content: '';
  display: block;
}

.App {
  width: 550px;
  background-color: white;
  max-height: 80vh;
  border-radius: 10px;
  overflow: scroll;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}


.nav {
  background: #445472;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  padding: 15px 0px;
  position: sticky;
  top: 0;
}

.nav img {
  height: 24px;
  width: 24px;
  margin: 0 5px;
}

.nav h1 {
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: .1em;
  text-transform: capitalize;
  color: white;
}

.articles {
  padding: 10px;
  justify-content: space-between;
}

.article {
  display: flex;
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

.spot-logo {
  background-image: url('../public/img/placeholder.png');
  background-size: cover;
  background-position: center;
  height: 12px;
  width: 12px;
  margin: auto 0;
}

.picture {
  width: 30%;
  padding: 5px 10px;
}
.picture img {
  width: 100%;
  border-radius: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px 10px;
}

.info .location {
  display: flex;
  justify-content: left;
}

.location .country {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 26px;
  letter-spacing: 0.17em;
  color: #2B283A;
  text-transform: uppercase;
}

.google-map a {
  color: #555;
  padding: 0 5px;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.location-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-bottom: 15px;
}

.date {
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin-bottom: 15px;
}

.brief {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;
  color: #2B283A;
}

.read-more {
  text-decoration-line: underline;
  color: #918E9B;
  font-size: 14px;
  margin-top: 10px;
  text-transform: capitalize;
}

.read-more:hover {
  cursor: pointer;
}